@model Eventos.IO.Application.ViewModels.EventoViewModel
@using Eventos.IO.Application.ViewModels

@{
    ViewData["Title"] = "Excluir";
}
<p>
    <h2>@ViewData["Title"]</h2>
</p>
<hr />
<h3>Você tem certeza que deseja excluir esse evento?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        @{
            if (Model.DescricaoCurta != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DescricaoCurta)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DescricaoCurta)
                </dd>
            }
            if (Model.DescricaoLonga != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DescricaoLonga)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DescricaoLonga)
                </dd>
            }
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Model.DataInicio.ToString("d")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Model.DataFim.ToString("d")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Gratuito)
                {
                    @Html.DisplayName("Evento gratuito")
                }
                else
                {
                    @Html.DisplayFor(model => Model.Valor);
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Endereço")
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Online)
                {
                    @Html.DisplayName("Evento Online")
                }
                else
                {
                    @Html.DisplayName(Model.Endereco.Logradouro + ", " + Model.Endereco.Numero + ", " + Model.Endereco.Bairro + ", " + Model.Endereco.Cidade + " - " + Model.Endereco.Estado)
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @{
                var categoria = new CategoriaViewModel().ListarCategorias().FirstOrDefault(c => c.Id == Model.CategoriaId);
                @Html.Raw(categoria.Nome)
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" id="btSubmit" class="btn btn-danger" />
        <a asp-action="MeusEventos" class="btn btn-info">Voltar</a>
    </form>
</div>

@section Scripts {
    @{
        if (ViewBag.RetornoPost != null)
        {
            var notificacao = ViewBag.RetornoPost.ToString().Split(',');
            if (@notificacao[0] == "success")
            {
                <script>
                    PopUpToastrConf();
                    PopUpToastrCallBack();
                    toastr["@notificacao[0]"]("@notificacao[1]");
                    $("#btSubmit").prop("disabled", true)
                </script>
            }
            else
            {
                <script>
                    PopUpToastrConf();
                    toastr["@notificacao[0]"]("@notificacao[1]");
                </script>
            }
        }
    }
}
