@model IEnumerable<Eventos.IO.Application.ViewModels.EventoViewModel>

@{
    ViewData["Title"] = "Meus Eventos";
}

<h2>@ViewData["Title"]</h2>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <p>
                <a asp-action="Create" class="btn btn-primary">
                    <span title="Novo Evento"></span> Novo Evento
                </a>
            </p>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Online)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @item.DataInicio.ToString("d")
                </td>
                <td>
                    @item.DataFim.ToString("d")
                </td>
                <td>
                    @{
                        if (item.Gratuito)
                        {
                            @Html.DisplayName("Gratuito")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Valor)
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Online)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>

                </td>
            </tr>
        }
    </tbody>
</table>
